<!DOCTYPE html>
<head>
<title>我分享的易车网视频</title>  
<meta http-equiv="content-type" content="text/html; charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
<div id="myApp">
<h3>我分享的易车网视频</h3>
<!-- Virtual DOM -->
<div v-if="seen">{{update}}</div>
<ol>
<li v-for="video in videos"> {{video.title}} <br>
<a v-bind:href="video.url"> {{video.url}} </a> <p> </li>
</ol>
</div>

<script src="./videos.js"></script>

</body>
</html>
